<app-hero 
  [isHome]="false"
  [backgroundUrl]="backgroundUrl"
  [title]="'About Us'"
  [subtitle]="'The people behind the brand'">
</app-hero>
<div class="top-card-container">
  <section class="outer-card">
    <mat-card class="card">
      <mat-card-header class="card-image">
        Your image here.
      </mat-card-header>
      <mat-card-content>
        a short paragraph about the image here
      </mat-card-content>
    </mat-card>
  </section>
  <section class="outer-card">
    <mat-card class="card">
      <mat-card-header class="card-image">
        Your image here.
      </mat-card-header>
      <mat-card-content>
        a short paragraph about the image here
      </mat-card-content>
    </mat-card>
  </section>
</div>
<section class="darktext">
  <h1 class="about-header">Our Mission</h1>
  <p class="mission">We are a group of people who love music, musicians, and especially musical instruments. Our sole aim is to 
    provide a service for those who love music in their homes in the form of a piano, and wish to delight them
    when the time comes for them to relocate their household piano to another place. We are here for you and your
    piano relocation needs!
  </p>
</section>
<div class="top-card-container">
  <section class="outer-card">
    <mat-card class="card">
      <mat-card-header class="card-image">
        Your image here.
      </mat-card-header>
      <mat-card-content>
        a short paragraph about the image here
      </mat-card-content>
    </mat-card>
  </section>
  <section class="outer-card">
    <mat-card class="card">
      <mat-card-header class="card-image">
        Your image here.
      </mat-card-header>
      <mat-card-content>
        a short paragraph about the image here
      </mat-card-content>
    </mat-card>
  </section>
</div>

