.nav-heading {
  font-family: 'Bungee Inline', Arial, Helvetica, sans-serif;
}

.nav-heading > a {
  color: black;
  cursor: pointer;
  text-decoration: none;
}

.spacer {
  flex: 1 1 auto;
}

.disabled {
  display: none;
}

.link-row {
  background: grey;
  border-bottom: 1px solid black;
}

.inline-link {
  margin-left: 1rem;
}

.inline-link > a, .link-row > a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.inline-link > a:hover {
  text-decoration: underline;
}

.piano-icon {
  margin-right: 1rem;
}