.hero {
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-header {
  background: grey;
  opacity: 0.75;
  color: white;
}

.subtitle, .title {
  text-align: center;
  color: white;
}

.mat-display-1 {
  margin-bottom: 0;
}