.hero {
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-header {
  background: grey;
  opacity: 0.75;
  color: white;
}

.subtitle, .title {
  text-align: center;
  color: white;
}

@media only screen and (min-width: 768px) {
  .hero {
    background-position: 0 -10vw;
  }
}