<footer>
  <div class="bar"></div>
  <div class="under">
    <h2>Website by Scott McKell</h2>
    <a class="link" rel='noopener noreferrer' target="_blank" href="github.com/zottwickel"><fa-icon class="footer-icon" [icon]="faGithub"></fa-icon></a>
    <a class="link" rel='noopener noreferrer' target="_blank" href="https://www.linkedin.com/in/scott-mckell/"><fa-icon class="footer-icon" [icon]="faLinkedin"></fa-icon></a>
    <a class="link" rel='noopener noreferrer' target="_blank" href="https://scottmckell.com"><fa-icon class="footer-icon" [icon]="faPalette"></fa-icon></a>
    <a class="link" rel='noopener noreferrer' target="_blank" href="mailto:scott.g.mckell@gmail.com"><fa-icon class="footer-icon" [icon]="faEnvelope"></fa-icon></a>
  </div>
  <p class="copyright">©Copyright 2021 Scott McKell</p>
</footer>