section {
  padding: 70px 1rem;
}

.card {
  background: grey;
  color: white;
}

.piano-keys {
  width: 100%;
  height: 500px;
  background: center no-repeat;
}

@media only screen and (min-width: 1200px) {
  .piano-keys {
    background-size: 100%;
  }
}