<app-hero 
  [isHome]="true"
  [backgroundUrl]="backgroundUrl"
  [title]="'801 Piano Movers'"
  [subtitle]="'Moving you by moving your music'">
</app-hero>
<section>
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title class="card-title">
        <mat-icon>book</mat-icon>
        Plan your next move with us
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        With a team of highly motivated and professional piano movers, your piano is in good hands. Using 
        high-quality equipment, we take care to ensure that your living space and piano are not damaged during the 
        move. Many of our team are musicians themselves and know just how important the safety of your piano is.
      </p>
    </mat-card-content>
  </mat-card>
</section>
<div 
  class="piano-keys"
  style="background-image: url('{{ pianoUrl }}')">
</div>
<section>
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title class="card-title">
        <mat-icon>check_circle</mat-icon>
        Lowest Rates in Town
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        We understand just how stressful moving time can be, so we keep it simple: one dozen stairs or less and we give
        you the best rates in town. We move upright pianos anywhere and everywhere across the wasatch front. Your 
        moving day woes are over, look no further!
      </p>
    </mat-card-content>
  </mat-card>
</section>
